*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --subtitle-color: #2E2F42;
    --text-color: #434455;
    --title-font-family: "Roboto",
        sans-serif;
    --logo-font-family: "Raleway",
        sans-serif;
}
    button[type="button"] {
        cursor: pointer;
    }

    .logo::before {
        content: "WEB";
        color: #4D5AE5;
        font-family: var(--logo-font-family);
        font-weight: 800;
        font-size: 18px;
    }

    .logo {
        font-family: var(--logo-font-family);
        font-weight: 800;
        color: #2E2F42;
        line-height: 1, 31;
        font-size: 18px;
    }

a {
    text-decoration: none;
}

body {
    font-family: var(--title-font-family);
}

h1,
h2 {
    font-weight: 700;
}

h4 {
    font-weight: 500;
}

/* NAV STYLING */
.nav-bar {
    list-style: none;
    font-weight: 500;
    color: var(--subtitle-color);
    display: inline-block;
}

.nav-list li {
    list-style: none;
    display: inline-block;
    line-height: 1, 5;
}

[href$=".html"]:hover {
    color: #404BBF;
}

[href$=".html"]:focus {
    color: #404BBF;
}

/* PHONE AND EMAIL COLOR */
.global-header>a {
    color: var(--text-color);
    line-height: 1.5;
}

.global-header>a:hover {
    color: #404BBF;
}

.global-header>a:focus {
    color: #404BBF;
}
.global-header {
    background-color: #E7E9FC;
    border: 1px;
    margin-bottom: -45px;
}

[href$=".html"] {
    color: var(--subtitle-color);
}

.address {
    line-height: 1.5;
    color: #ffffff;
}

.footer {
    background-color: #2E2F42;
    height: 312px;
    padding-top: 100px;
}

.logo-footer::before {
    content: "WEB";
    color: #4D5AE5;
    font-family: var(--logo-font-family);
    font-weight: 800;
    font-size: 18px;
}

.logo-footer {
    font-family: var(--logo-font-family);
    font-weight: 800;
    color: #ffffff;
    line-height: 1.31;
    font-size: 18px;
}
/* Portofolio only */
.portofolio-buttons {
    text-align: center;
}

.portofolio-buttons>li {
    list-style: none;
}

/* Image list */

.portofolio-list-one {
    list-style: none;
    display: flex;
}

.portofolio-list-one>li>h4 {
    color: var(--subtitle-color);
    font-size: 20px;
    line-height: 1.5;
}

.portofolio-list-one>li>p {
    color: var(--text-color);
    line-height: 1.5;
}

.portofolio-list-two {
    list-style: none;
    display: flex;
}

.portofolio-list-two>li>h4 {
    color: var(--subtitle-color);
    font-size: 20px;
    line-height: 1.5;
}

.portofolio-list-two>li>p {
    color: var(--text-color);
    line-height: 1.5;
}

.portofolio-list-three {
    list-style: none;
    display: flex;
}

.portofolio-list-three>li>h4 {
    color: var(--subtitle-color);
    font-size: 20px;
    line-height: 1.5;
}

.portofolio-list-three>li>p {
    color: var(--text-color);
    line-height: 1.5;
}

.filters {
    margin-top: 50px;
}

.all-button {
    font-family: var(--title-font-family);
    text-align: center;
    background-color: #E7E9FC;
    width: 69px;
    height: 48px;
    border-radius: 4px;
    border: 1px;
    padding: 12px, 24px;
    color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}

.all-button:hover {
    background-color: #404BBF;
    color: #ffffff;
}

.web-button {
    font-family: var(--title-font-family);
    text-align: center;
    background-color: #E7E9FC;
    width: 116px;
    height: 48px;
    border-radius: 4px;
    border: 1px;
    padding: 12px, 24px;
    color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}

.web-button:hover {
    background-color: #404BBF;
    color: #ffffff;
}

.app-button {
    font-family: var(--title-font-family);
    text-align: center;
    background-color: #E7E9FC;
    width: 78px;
    height: 48px;
    border-radius: 4px;
    border: 1px;
    padding: 12px, 24px;
    color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}

.app-button:hover {
    background-color: #404BBF;
    color: #ffffff;
}

.design-button {
    font-family: var(--title-font-family);
    text-align: center;
    background-color: #E7E9FC;
    width: 101px;
    height: 48px;
    border-radius: 4px;
    border: 1px;
    padding: 12px, 24px;
    color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}

.design-button:hover {
    background-color: #404BBF;
    color: #ffffff;
}

.marketing-button {
    font-family: var(--title-font-family);
    text-align: center;
    background-color: #E7E9FC;
    width: 126px;
    height: 48px;
    border-radius: 4px;
    border: 1px;
    padding: 12px, 24px;
    color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}

.marketing-button:hover {
    background-color: #404BBF;
    color: #ffffff;
}